<%= form_with(model: user, class: "grid grid-cols-2 gap-6") do |form| %>
  <div>
    <%= form.label :name, class: "block text-gray-700 font-semibold mb-1" %>
    <%= form.text_field :name, autofocus: true, class: "form-input w-full rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 #{'border-red-500' if user.errors[:name].any?}", required: false %>
    <% if user.errors[:name].any? %>
      <p class="text-red-500 text-xs italic"><%= user.errors[:name].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :email, class: "block text-gray-700 font-semibold mb-1" %>
    <%= form.email_field :email, class: "form-input w-full rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 #{'border-red-500' if user.errors[:email].any?}", required: false %>
    <% if user.errors[:email].any? %>
      <p class="text-red-500 text-xs italic"><%= user.errors[:email].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :password, class: "block text-gray-700 font-semibold mb-1" %>
    <%= form.password_field :password, class: "form-input w-full rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 #{'border-red-500' if user.errors[:password].any?}", required: false %>
    <% if user.errors[:password].any? %>
      <p class="text-red-500 text-xs italic"><%= user.errors[:password].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation, class: "block text-gray-700 font-semibold mb-1" %>
    <%= form.password_field :password_confirmation, class: "form-input w-full rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 #{'border-red-500' if user.errors[:password_confirmation].any?}", required: false %>
    <% if user.errors[:password_confirmation].any? %>
      <p class="text-red-500 text-xs italic"><%= user.errors[:password_confirmation].first %></p>
    <% end %>
  </div>

  <div class="col-span-2">
    <%= form.submit(user.new_record? ? 'Create Account' : 'Update Account', class: "inline-block bg-blue-600 text-white px-8 py-3 rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out") %>
  </div>

<% end %>
